<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./respija/telyuja'); %>
</head>
<body class="container">
    
<header>
    <%- include('./respija/kipaja'); %>


    <div class="col-sm-10">
        <div class="jumbotron">
            <h1>Arte en software</h1>
            <p>Solicite información de nuestros servicios.</p>
        </div>
    </div>


<footer>
    <%- include('./respija/tulnapi'); %>
</footer>

</body>
</html>