<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./respija/telyuja'); %>
</head>
<body class="container">

<header>
    <%- include('./respija/kipaja'); %>


    <div class="col-sm-10">
        <div class="jumbotron">
            <h1>Estamos dedicados a...</h1>
            
				<ul> 
				
				<li>
				    Desarrollo de programas
				</li>
				
                <li>
				    Administración de software
				</li>
	
                <li>
				    Diseño de páginas web
				</li>

                <li>
				    Bases de datos
				</li>
	
	
				</ul>		
            
        </div>
    </div>


<footer>
    <%- include('./respija/tulnapi'); %>
</footer>

</body>
</html>