<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./respija/telyuja'); %>
</head>
<body class="container">

<header>
    <%- include('./respija/kipaja'); %>
    
    <div class="col-sm-10">
        <div class="jumbotron">
<h4>Panel</h4>

    <div class="signF_rm">
    
    <form class="form" method="post" action = "/login" id="form_login">

        <div class="inputContainer">
            <input type="text" name = "msg" id = "msg" class="input" required placeholder="a">
            <label for="" class="label">mensaje</label>
        </div>
      <input type="submit" class="submitBtn" value="Enviar">
        


      </form>


    </div>
    </div>
    </div>


<script>

    window.onload = tulpika("<%= data.name %>")

    function tulpika(x){
        let p = "[ Usuario: " + x + " ]"
        document.getElementById("tuljara").innerHTML=p
    }

</script>

<%- include('./respija/tulnapi'); %>
