<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./parts/header'); %>
</head>
<body class="container">

<header>
    <%- include('./parts/up'); %>


    <div class="col-sm-10">
        <div class="jumbotron">
            <h1>Estamos dedicados a...</h1>
            <br>
				<ul> 
				
				<li>
				    Desarrollo de programas
				</li>
				
                <li>
				    Administración de software
				</li>
	
                <li>
				    Diseño de páginas web
				</li>

                <li>
				    Bases de datos
				</li>
	
	
				</ul>		
                <br>
                <br>
                <img src = "correo.png" />
        </div>
    </div>


<%- include('./respija/tulnapi'); %>
