<%- include("./partials/header") %>


 <p>id: <%= data %></p>
 <br>
<div id="actt"></div>
<input type = "text" id = "ahc" name = "ahc" value = "<%= data %>"/>
<br>
<div id="u">
  ...
</div>


<br>
<script src="/js/callActivation.js"></script>

<%- include("./partials/footer") %>
