
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Andesbit</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/a/lista">Lista</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/acerca_de">Acerca de</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/a/usuario/registrar">Registrarse</a>

   <!--- 
    
    todoC("Registrarse", "a/usuario/registrarse", loginCtrl)
    
   --->


    </li>
    <li class="nav-item">
      <a class="nav-link" href="/a/usuario/ingresar">Ingresar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id = "tuljara" href="/a/usuario/ingresar">[ Usuario: ___ ]</a>
    </li>
  </ul>
</nav>
</header>

<main>
  <div class="row">
    <div class="col-sm-2 p-3">
        
            <h4>Contenidos</h4>
            <a href="/">Inicio</a><br>
            <a href="/a/usuario/registrar">Registrarse</a><br>
            <a href="/a/usuario/ingresar">Ingresar</a><br>
            <a href="/a/lista">Lista</a><br>
            <a href="/acerca_de">Acerca de</a><br>
        
    </div>  
  
      